body{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    text-align: center;
    max-width: 90%;
} 
    
.img01{
     width: 95%;
}    